@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;	
}
body.unscrollable {
	height: 100%;
	overflow: hidden;
}
header {
	background: rgb(255, 187, 0);
}
header section {
	text-align: center;
	padding: 50px 0 80px 0;
}
header section h1 {
	font-size: 40px;	
}
header section p {
	font-size: 30px;
}
@media (max-width: 1300px) { 
	header section {
		text-align: left;
		margin: 0 100px;
	}
}
@media (max-width: 900px) {
	header#home section {
		margin: 0 20px;
		padding: 50px 0 80px 0;
	}
}