section#dashboard {
	width: 80%;
	margin: 50px auto;
	position: relative;
}
section#dashboard h1 {
	font-size: 50px;
	margin-bottom: 20px;
}
section#dashboard a#create {
	background: orange;
	font-size: 20px;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}
section#dashboard h3.loading {
	font-size: 100px;
	color: #c6c6c6;
	text-align: center;
	animation: loadingRotate 1s infinite;
}
@keyframes loadingRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
section#dashboard h3.error {
	font-size: 30px;
	color: red;
	text-align: center;
}
section#dashboard h3.info {
	font-size: 20px;
	color: grey;
	margin-top: 40px;
}
section#project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
	gap: 20px;
	margin-top: 30px;
}
section#project-list div.project {
	border: 2px solid rgb(215, 215, 215);
	padding: 20px 30px 30px 30px;
	border-radius: 5px;
}
section#project-list div.project h2 {
	font-size: 30px;
}
section#project-list div.project h3 {
	font-size: 20px;
	color: #545454;
	height: 60px;
	overflow: hidden;
}
section#project-list div.project p {
	font-size: 15px;
	color: grey;
	margin: 0 0 20px 0;
}
section#project-list div.project a {
	background: orange;
	font-size: 20px;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
}