header#home {
	background: rgb(255, 187, 0);
}
header#home section {
	text-align: center;
	padding: 50px 0 80px 0;
}
header#home section h1 {
	font-size: 40px;	
}
header#home section p {
	font-size: 30px;
	font-style: italic;
}
@media (max-width: 1300px) { 
	header#home section {
		text-align: left;
		margin: 0 100px;
	}
}
@media (max-width: 900px) {
	header#home section {
		margin: 0 20px;
		padding: 50px 0 50px 0;
	}
}