footer {
	text-align: center;
	color:rgb(68, 68, 68);
	margin: 100px 0 20px 0;
}
footer h3 {
	font-size: 20px;
}
footer ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0 0 20px 0;
}
footer ul li {
	margin: 0 10px;
	font-size: 20px;
}
footer ul li a {
	color: rgb(68, 68, 68);
	text-decoration: none;
}
footer ul li:hover {
	text-decoration: underline;
}
@media (max-width: 900px) {
	footer h3 {
		font-size: 15px;
	}
	footer ul li { 

		font-size: 15px;
	}
}