footer {
	text-align: center;
	color:rgb(150, 150, 150);
	margin: 100px 0 20px 0;
}
footer h6 {
	font-size: 15px;
	color: rgb(97, 97, 97);
}
footer ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 10px 0 20px 0;
}
footer ul li {
	margin: 0 10px;
	font-size: 15px;
}
footer ul li a {
	color: rgb(150, 150, 150);
	text-decoration: none;
}
footer ul li:hover {
	text-decoration: underline;
}
footer p {
	font-size: 12px;
}
@media (max-width: 900px) {
	footer h3 {
		font-size: 15px;
	}
	footer ul li { 

		font-size: 15px;
	}
}