section#app-navlist {
	width: 300px;
	height: 100vh;
	background: rgb(235, 235, 235);
	display: flex;
	flex-direction: column;
}
section#app-navlist div#app-account {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(219, 219, 219);
	padding: 20px;
	flex: 1;
}
section#app-navlist div#app-account * {
	margin: 0 5px;
}
section#app-navlist div#app-account img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
section#app-navlist div#app-account div h3 {
	font-size: 20px;
}
section#app-navlist ul#app-navigation {
	flex: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: scroll;
	scrollbar-width: 0;
}
section#app-navlist ul#app-navigation::-webkit-scrollbar {
	display: none;
}
section#app-navlist ul#app-navigation li {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
section#app-navlist ul#app-navigation li:hover {
	background: rgb(218, 218, 218);
}
section#app-navlist ul#app-navigation li a {
	font-size: 20px;
	color: black;
	text-decoration: none;
}